.app {
  background-color: red;

  textarea {
    resize: none;
    width: 50vw;
    height: max(20vw, 15rem);
  }

  .reader {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: yellow;

    .sentence {
      display: block;
      font-size: 2rem;
      text-align: center;
      width: 50vw;
    }

    .hidden {
      display: none;
    }
  }
}

// @keyframes fade {
//   0% {
//     opacity: 1;
//   }
//   100% {
//     display: none;
//     opacity: 0;
//   }
// }
